<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.ManagerMapper">
    <!--
        mapper里面的xml命名需要和它的接口一致
        resultMap:
            type:对应pojo的类的类型，直接把查询的结果赋值的该pojo上
            id:是为了下面的返回类型
        result里面的属性理解:
            result:指定数据库字段名或者其别名
            property:指定javaBean的属性名,即pojo里面的类的属性
        每个pojo类需要写一个resultMap
    -->
    <resultMap type="com.ssm.pojo.Manager" id="managerMap">
        <id column="mid" property="mid" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
    </resultMap>

    <!--登录判断，根据id-->
    <select id="managerLogin" resultMap="managerMap" parameterType="com.ssm.pojo.Manager">
        select * from manager
        <where>
            name=#{name} and password=#{password}
        </where>
    </select>

    <!-- 查询用户列表 -->
    <select id="getManagerList" resultMap="managerMap">
        select * from manager
    </select>

    <!-- 查询修改用户信息的id -->
    <select id="searchUpdateManagerFromId" resultMap="managerMap" parameterType="int">
        select * from manager
        <where>mid=#{mid}</where>
    </select>

    <!-- 修改用户信息 -->
    <update id="updateManagerFromId" parameterType="com.ssm.pojo.Manager">
         update manager
         set name=#{name},password=#{password},gender=#{gender},
             age=#{age}
        <where>mid=#{mid}</where>
     </update>

    <!-- 添加用户信息 -->
    <insert id="insertManager" parameterType="com.ssm.pojo.Manager">
        insert into manager(name,password,gender,age)
        values
        (#{name},#{password},#{gender},#{age})
    </insert>

    <!-- 增删改查标签里的id:一定要和接口里对应的方法名一致 -->
    <delete id="deleteManagerFromId" parameterType="int">
        delete from manager
          <where>mid=#{mid}</where>
    </delete>

</mapper>