<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启注解-->
    <context:annotation-config/>
    <!--注解的位置-->
    <context:component-scan base-package="action"/>
    <context:component-scan base-package="dao"/>
    <context:component-scan base-package="service"/>

    <!--配置userService-->
    <bean id="userService" class="service.UserService"></bean>
    <!--配置切面对象-->
    <bean id="aspect" class="service.MyAspect"></bean>
    <!--配置代理对象-->
    <bean id="serviceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!--接口-->
        <property name="interfaces" value="service.userServiceInterface"></property>
        <!--目标类-->
        <property name="target" ref="userService"></property>
        <!--切面类-->
        <property name="interceptorNames" value="aspect"></property>
        <!--        配置cglib生成-->
        <property name="optimize" value="true" ></property>
    </bean>
</beans>